.ipynb_checkpoints/
*.pyc
__pycache__/
*.ipynb
backup1.py
.vscode/
.deprecated/
gensim_stuff.py
gui.py
k_means.py
sentiment
sql_dumper.py
TODO
try.py
word_embedding.py
models_word2vec/
env/
sentiment_analysis/corpora/raw/
.pytest_cache/
logging/